node-red/clipboard.txt
[{"id":"f3a8c953.fd0688","type":"inject","z":"a45d60e3.33c4e","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":155,"y":143,"wires":[["7b00d19.54daf3"]]},{"id":"7b00d19.54daf3","type":"mqtt out","z":"a45d60e3.33c4e","name":"","topic":"nod","qos":"","retain":"","broker":"f797f8bf.8c08f8","x":345,"y":142,"wires":[]},{"id":"e30ccbd8.4910a8","type":"inject","z":"a45d60e3.33c4e","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":155,"y":190,"wires":[["5d2df1e5.e5d3"]]},{"id":"5d2df1e5.e5d3","type":"mqtt out","z":"a45d60e3.33c4e","name":"","topic":"hands/up","qos":"","retain":"","broker":"f797f8bf.8c08f8","x":355,"y":189,"wires":[]},{"id":"48c8224d.f3eb4c","type":"inject","z":"a45d60e3.33c4e","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":154,"y":240,"wires":[["696ddd26.c0c164"]]},{"id":"696ddd26.c0c164","type":"mqtt out","z":"a45d60e3.33c4e","name":"","topic":"hands/down","qos":"","retain":"","broker":"f797f8bf.8c08f8","x":364,"y":239,"wires":[]},{"id":"e3487e75.9038a","type":"inject","z":"a45d60e3.33c4e","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":154,"y":287,"wires":[["473d69d6.fdf5b8"]]},{"id":"473d69d6.fdf5b8","type":"mqtt out","z":"a45d60e3.33c4e","name":"","topic":"wave/left","qos":"","retain":"","broker":"f797f8bf.8c08f8","x":354,"y":286,"wires":[]},{"id":"c9444a46.ad54f8","type":"inject","z":"a45d60e3.33c4e","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":155,"y":335,"wires":[["979cc5e6.8b60d8"]]},{"id":"979cc5e6.8b60d8","type":"mqtt out","z":"a45d60e3.33c4e","name":"","topic":"wave/right","qos":"","retain":"","broker":"f797f8bf.8c08f8","x":365,"y":334,"wires":[]},{"id":"ac6f1638.4924c8","type":"inject","z":"a45d60e3.33c4e","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":155,"y":382,"wires":[["31f15e0a.5ca722"]]},{"id":"31f15e0a.5ca722","type":"mqtt out","z":"a45d60e3.33c4e","name":"","topic":"twist/left","qos":"","retain":"","broker":"f797f8bf.8c08f8","x":355,"y":381,"wires":[]},{"id":"9127421b.9e50c","type":"inject","z":"a45d60e3.33c4e","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":151,"y":433,"wires":[["628bae2c.b0cac"]]},{"id":"628bae2c.b0cac","type":"mqtt out","z":"a45d60e3.33c4e","name":"","topic":"twist/right","qos":"","retain":"","broker":"f797f8bf.8c08f8","x":351,"y":432,"wires":[]},{"id":"f2d4f718.bcea48","type":"debug","z":"a45d60e3.33c4e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":353,"y":500,"wires":[]},{"id":"518e608f.feaac","type":"mqtt in","z":"a45d60e3.33c4e","name":"","topic":"outTopic","qos":"2","broker":"f797f8bf.8c08f8","x":135,"y":500,"wires":[["f2d4f718.bcea48"]]},{"id":"f797f8bf.8c08f8","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]